# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.env

# Build outputs
dist/
build/
.next/
out/

# IDEs
.vscode/
.idea/

# OS related
desktop.ini
thumbs.db
.DS_Store

# Archives
*.rar
*.zip
